<script setup lang="ts">
import type { ECService } from '../../types/Services.ts';
defineProps<{ service: ECService }>()
</script>

<template>
    <div class="text-xl font-medium text-black">{{ service.name }}</div>
    <p class="text-slate-500">{{ service.port?.name }}</p>

    <span class="pill" :class="{ disabled: 'in service' !== service.status }">
        {{ service.status }}
    </span>

    <span class="pill inverted" :class="{ disabled: !service.paused }">
        {{ service.paused ? 'Paused' : 'Not Poused' }}
    </span>

    <span class="pill inverted" :class="{ disabled: !service.expired }">
        {{ service.expired ? 'Expired' : 'Not Expired' }}
    </span>
</template>
