<script setup lang="ts">
import ServiceBasics from './BasicInfo.vue';
import type { ECService } from '../../types/Services.ts';
defineProps<{ service: ECService }>()
</script>

<template>
    <p>This is the DEC Service type components</p>
    <p>I have no idea what properties are important for this type</p>
    <hr class="my-3" />
    <service-basics :service="service"></service-basics>
</template>
