<script lang="ts">
import { ref, onMounted } from 'vue';
import NavBar from '../Components/NavBar.vue';
import AppSpinner from '../Components/Spinner.vue';
import ServiceBasics from '../Components/ServiceTypes/BasicInfo.vue';
import type { Ref } from 'vue';
import type { ECService } from '../types/Services.ts';
import { useToast } from "vue-toastification";
import { useEpsilonApi } from '../apis/epsilon';

export default {
    components: {
        NavBar,
        AppSpinner,
        ServiceBasics
    },
    setup() {
        const toast = useToast();
        const api = useEpsilonApi();
        const services: Ref<ECService[]> = ref([]);
        const loading: Ref<number> = ref(0);

        const fetchServices = async (): Promise<ECService[] | null> => {
            loading.value++;
            const { data, error } = await api.get('services');
            if (error) toast.error(error.message);
            loading.value--;
            return data;
        }

        onMounted(async () => {
            const result = await fetchServices();
            if (!result) return;
            services.value = result;
        })

        return { loading, services }
    },

}
</script>

<template>
    <nav-bar class="navbar-top">
        <router-link to="/" class="btn mr-3">&lt; Back</router-link>
        <a class="text-white font-bold">Services</a>
    </nav-bar>

    <div v-if="loading" class="card max-w-sm mx-auto">
        <app-spinner /> Loading...
    </div>

    <div v-for="service in services" :key="service.id" class="card max-w-md mx-auto">
        <service-basics :service="service" />
        <p class="pt-3 pb-1">
            <router-link :to="`/services/${service.id}`" class="btn">Details</router-link>
        </p>
    </div>
</template>

