<script lang="ts">
import { ref, onMounted, markRaw } from 'vue';
import NavBar from '../Components/NavBar.vue';
import AppSpinner from '../Components/Spinner.vue';
import { useRoute} from 'vue-router';
import type { Component, Ref } from 'vue';
import type { ECService } from '../types/Services.ts';
import { useToast } from "vue-toastification";
import { useEpsilonApi } from '../apis/epsilon';

import ServiceTypeDEC from '../Components/ServiceTypes/DEC.vue';
import ServiceTypeINT from '../Components/ServiceTypes/INT.vue';
import ServiceTypeDefault from '../Components/ServiceTypes/Default.vue';

export default {
    components: {
        NavBar,
        AppSpinner,
        ServiceTypeDEC,
        ServiceTypeINT,
        ServiceTypeDefault
    },
    setup() {
        const route = useRoute();
        const toast = useToast();
        const api = useEpsilonApi();
        const service: Ref<ECService | null> = ref(null);
        const renderer: Ref<Component | null> = ref(null);
        const loading: Ref<number> = ref(0);

        const getRenderer = (service: ECService): Component => {
            const type = service.type_short_name;
            if ('DEC' === type) return markRaw(ServiceTypeDEC);
            if ('INT' === type) return markRaw(ServiceTypeINT);
            return markRaw(ServiceTypeDefault);
        }

        const fetchService = async (id: number): Promise<ECService | null> => {
            try {
                loading.value++;
                const { data, error } = await api.get(`services/${id}`);
                loading.value--;
                if (error) toast.error(error.message);
                return data;
            }
            catch (err) {
                //TODO better error handling
                console.error({ err });
                return null;
            }
        }

        onMounted(async () => {
            const id: number = parseInt(route.params.id as string) || 0;
            if (!id) return;
            const result = await fetchService(id);
            if (!result) return;
            service.value = result;
            renderer.value = getRenderer(result);
        })

        return { loading, service, renderer }
    },

}
</script>

<template>
    <nav-bar class="navbar-top">
        <router-link to="/services" class="btn mr-3">&lt; Back</router-link>
        <a class="text-white font-bold">{{ service?.name }}</a>
    </nav-bar>

    <div v-if="loading" class="card mx-6">
        <app-spinner /> Loading...
    </div>

    <div v-if="service" class="card mx-6">
        <component :is="renderer" :service="service" />
    </div>
</template>

