<script setup lang="ts">
import NavBar from '../Components/NavBar.vue';
</script>

<template>
    <nav-bar class="navbar-top">
        <router-link to="/services" class="btn">Services</router-link>
    </nav-bar>

    <div class="card max-w-3xl mx-auto">
        <h2 class="text-lg font-bold">What I Did</h2>
        <ul>
            <li>
                <p><strong>Backend service that handles api calls to the epsilon api</strong></p>
                <p>It handles only "get" and "post" requests. It can't manage streams i think.</p>
                <p>It automatically tries to authenticate with an OAuth token and refreshes it when needed.</p>
                <p>It also has a basic cache for "get" requests.</p>
                <p>I have not testet what happense when the refresh tokens expire.</p>
            </li>
            <li>
                <p><strong>a "Network Service" REST resource</strong></p>
                <p>The controller only handles list and item details. There is no pagination, search or filter functionality.</p>
            </li>
            <li>
                <p><strong>The frontend with a VUE 3 Single Page Application and typescript</strong></p>
                <p>The "NavBar" component is there just to use "slots"</p>
                <p>The "ServiceTypes" components are there just to show how I preffer to do bilding of variations of someting.</p>
                <p>The frontend "build" folder is added in the git repo so that the app could be tested easier. Otherwise one would need to have node 18 installed and working.</p>
            </li>
        </ul>
        <hr class="my-3" />
        <h2 class="text-lg font-bold">What I Did Not</h2>
        <ul>
            <li>
                <p><strong>Propper automation testing</strong></p>
                <p>There are just 2 tests that check if the client service id/secret are working.</p>
                <p>There are no tests for the token autorefresh or if it token is working at all. There are no tests for any of the entry points</p>
            </li>
            <li>
                <p><strong>Propper api interface</strong></p>
                <p>I am relying on laravel's http resources for consistency</p>
                <p>There is no notification bus for sending messages to the frontend</p>
            </li>
            <li>
                <p><strong>Use propper state managmet in the frontend like "Vuex" or "Pinia"</strong></p>
                <p>I am using a simple api helper. I have verry basic experinece with state managers</p>
            </li>
            <li>
                <p><strong>Added docker file for bulding/running the app</strong></p>
            </li>
        </ul>
        <hr class="my-3" />
        <p>Please click on the "Services" button in the navigation bar or <router-link to="/services" class="text-sky-600">click here</router-link> to continue</p>
    </div>
</template>
