@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 border-blue-700 rounded;
}

.btn:hover {
    @apply bg-blue-400 border-blue-500;
}

.btn.disabled {
    @apply opacity-50 cursor-not-allowed
}

.pill {
    @apply bg-green-200 border-green-500 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 border
}

.pill.inverted {
    @apply bg-red-200 border-red-500 text-red-800
}

.pill.disabled {
    @apply bg-gray-200 border-gray-500 text-gray-800 opacity-50
}

.card {
    @apply p-6 my-6  bg-white rounded-l shadow-lg items-center;
}

//Thinks i did not find in tailwind
.navbar-top {
    position: sticky;
    top: 0;
}
