<template>
    <nav class="flex items-center justify-between flex-wrap bg-slate-600 p-3">
        <!-- <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight">Nav Bar</span>
        </div> -->
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <slot></slot>
            </div>
        </div>
    </nav>
</template>
