<!-- Stolen from here https://codepen.io/relliv/pen/KKyxZZN -->
<template>
    <!-- why doesnt tailwind have inline-flex? -->
    <div style="display: inline-flex" class="h-6 w-10">
        <div class="relative">
            <!-- Outer Ring-->
            <div class="w-8 h-8 rounded-full absolute
    border-4 border-solid border-gray-200"></div>

            <!-- Inner Ring -->
            <div class="w-8 h-8 rounded-full animate-spin absolute
    border-4 border-solid border-blue-500 border-t-transparent"></div>
        </div>
    </div>
</template>
